@charset "utf-8";

/*** Theme variables ***/
:root,
:root.dark {
  /* Background colors */
  --bg-main: #303030;
  --bg-bar: #212121;
  --bg-card: #424242;
  /* Accent colors */
  --accent-main: #a5d6a7;
  --accent-sec: #d7ffd9;
  --accent-ter: #75a478;
  /* Text colors */
  --text-main: #fff;
  --text-main-alt: #000000de;
  --text-sec: #ffffffb3;
  --text-sec-alt: #000000ab;
  --text-hint: #ffffff80;
  --divider: #ffffff1f;
  /* SVG invert */
  --img-invert: invert(1);
  --img-invert-alt: invert(0);
  /* SVG filter for same alpha as text */
  --img-alpha-main: 1;
  --img-alpha-sec: 0.7;
  --img-alpha-sec-alt: 0.67;
  /* SVG filter for same color as accent-sec */
  --img-accent-sec: invert(88%) sepia(13%) saturate(505%) hue-rotate(73deg) brightness(108%) contrast(101%);
  /* PNG filter */
  --img-filter: brightness(0.85) contrast(1.15);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-main: #fafafa;
    --bg-bar: #f5f5f5;
    --bg-card: #fff;
    --accent-main: #1b5e20;
    --accent-sec: #030;
    --accent-ter: #4c8c4a;
    --text-main: #000000de;
    --text-main-alt: #fff;
    --text-sec: #000000ab;
    --text-sec-alt: #ffffffb3;
    --text-hint: #0000008a;
    --divider: #0000001f;
    --img-invert: invert(0);
    --img-invert-alt: invert(1);
    --img-alpha-main: 0.87;
    --img-alpha-sec: 0.67;
    --img-alpha-sec-alt: 0.7;
    --img-accent-sec: invert(11%) sepia(95%) saturate(1360%) hue-rotate(100deg) brightness(94%) contrast(104%);
    --img-filter: brightness(1) contrast(1);
  }
}

/* Keep in sync with above */
:root.light {
  --bg-main: #fafafa;
  --bg-bar: #f5f5f5;
  --bg-card: #fff;
  --accent-main: #1b5e20;
  --accent-sec: #030;
  --accent-ter: #4c8c4a;
  --text-main: #000000de;
  --text-main-alt: #fff;
  --text-sec: #000000ab;
  --text-sec-alt: #ffffffb3;
  --text-hint: #0000008a;
  --divider: #0000001f;
  --img-invert: invert(0);
  --img-invert-alt: invert(1);
  --img-alpha-main: 0.87;
  --img-alpha-sec: 0.67;
  --img-alpha-sec-alt: 0.7;
  --img-accent-sec: invert(11%) sepia(95%) saturate(1360%) hue-rotate(100deg) brightness(94%) contrast(104%);
  --img-filter: brightness(1) contrast(1);
}

/*** Resets ***/
p,
ul,
li,
select {
  margin: 0;
  padding: 0;
}

/*** General selectors ***/
:root {
  --width: 240em; /* Enough to fit the page in a 4k display with 16px text size */
  --duration: 0.25s; /* Duration for transitions */
  --corner: 10px; /* Use absolut values for rounded corners */
}

html {
  box-sizing: content-box;
  scroll-behavior: smooth;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background: var(--bg-main);
  color: var(--text-main);
  margin: 0 auto;
  padding: 0;
}

main {
  width: 100%;
  max-width: var(--width);
  margin: 0 auto;
}

/*** Headings ***/
h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0 0 1em;
  padding: 0;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 1.5em 0 1em;
  padding: 0;
}

h3 {
  font-size: 1em;
  font-weight: bold;
  margin: 0 0 1em;
  padding: 0;
}

/*** Link colors ***/
a {
  transition: color var(--duration) ease-in;
  text-decoration: none;
}

a:link,
a:visited {
  color: var(--accent-main);
}

a:hover,
a:active {
  color: var(--accent-sec);
}

/*** Contact sidebar ***/
aside {
  background: var(--bg-bar);
  color: var(--text-main);
  text-align: center;
  font-size: large;
  padding: 1em;
}

.aside-img {
  width: 100%;
  height: auto;
  border-radius: var(--corner);
  filter: var(--img-filter);
  transition: filter var(--duration) ease-in;
  margin-bottom: 0.5em;
}

.aside-name {
  font-size: x-large;
  font-weight: bold;
  padding-bottom: 1em;
}

.aside-contact {
  border-left: 0.1em solid var(--divider);
  text-align: left;
  display: inline-block;
  list-style: none;
}

.aside-contact > li {
  padding: 0.5em 1em;
}

.aside-contact a {
  display: inline-flex;
  align-items: center;
}

.aside-logo {
  width: 2em;
  height: 2em;
  padding-right: 0.5em;
  filter: var(--img-invert);
  opacity: var(--img-alpha-main);
  user-select: none;
}

.aside-contact a:hover > .aside-logo {
  filter: var(--img-accent-sec);
  transition: filter var(--duration) ease-in;
}

/*** Main content ***/
.content {
  padding: 2em;
}

/*** Theme toggle ***/
.theme {
  display: none; /* Set to visible using JS */
  float: right;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  cursor: pointer;
}

.theme-img {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  filter: var(--img-invert);
  opacity: var(--img-alpha-main);
  transition: all var(--duration) ease-in;
  user-select: none;
}

/* Only show hover effect if supported */
@media (hover: hover) {
  .theme-img:hover {
    background: #00000040; /* White with an alpha of 25% */
  }
}

/*** Collapsible ***/
input[type="checkbox"] {
  display: none;
}

.collapsible-wrap {
  margin-top: 1em;
}

.toggle:checked + .toggle-label {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.toggle:checked + .toggle-label + .collapsible-content > .content-inner {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.toggle:checked + .toggle-label + .collapsible-content {
  visibility: visible;
  max-height: 1000vh; /* Set to a high value such that the content is smaller than the viewport */
}

.toggle:not(:checked) + .toggle-label + .collapsible-content {
  visibility: hidden;
  transition: none; /* Collaps immediately without animation */
}

.toggle:checked + .toggle-label::before {
  box-sizing: inherit;
  transform: rotate(90deg);
}

.toggle-label {
  display: block;
  background: var(--bg-bar);
  color: var(--text-main);
  border-radius: var(--corner);
  transition: all var(--duration) ease-in;
  padding: 1em;
  cursor: pointer;
}

.toggle-label::before {
  box-sizing: inherit;
  content: "";
  display: inline-block;
  border-top: 0.33em solid transparent;
  border-bottom: 0.33em solid transparent;
  border-left: 0.33em solid currentColor;
  vertical-align: sub;
  transition: transform var(--duration) ease-in;
}

/* Show hover effect if supported */
@media (hover: hover) {
  .toggle-label:hover {
    background: var(--accent-ter);
    color: var(--text-main-alt);
  }

  .toggle-label:hover > .label-info,
  .toggle-label:hover > .label-tag {
    color: var(--text-sec-alt);
  }

  .toggle-label:hover .label-img {
    filter: var(--img-invert-alt);
    opacity: var(--img-alpha-sec-alt);
  }
}

/* Color the collapsed label if hover is not supported */
@media (hover: none) {
  .toggle:checked + .toggle-label {
    background: var(--accent-ter);
    color: var(--text-main-alt);
  }

  .toggle:checked + .toggle-label > .label-info,
  .toggle:checked + .toggle-label > .label-tag {
    color: var(--text-sec-alt);
  }

  .toggle:checked + .toggle-label .label-img {
    filter: var(--img-invert-alt);
    opacity: var(--img-alpha-sec-alt);
  }
}

.label-tag {
  float: right;
  color: var(--text-sec);
  display: flex;
  align-items: center;
  transition: color var(--duration) ease-in;
}

.label-img {
  width: 1.25em;
  height: 1.25em;
  padding: 0 0.5em;
  filter: var(--img-invert);
  opacity: var(--img-alpha-sec);
  transition: all var(--duration) ease-in;
  user-select: none;
}

.label-heading {
  font-size: large;
  font-weight: bold;
  display: block;
  margin-top: -1em; /* Hack to prevent wrapping of headings under arrows */
  padding-left: 1em;
}

.label-info {
  display: block;
  padding: 0.75em 0 0 1em;
  color: var(--text-sec);
  transition: color var(--duration) ease-in;
}

/*** Inner collapsible ***/
.collapsible-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height calc(5 * var(--duration)) ease-in; /* Longer due to larger viewport */
}

.content-inner {
  background: var(--bg-card);
  border-radius: var(--corner);
  transition: all var(--duration) ease-in;
  padding: 1.5em;
}

.content-inner > p {
  text-align: justify;
  line-height: 1.5;
  padding-bottom: 1em;
}

.features {
  list-style-type: none;
  line-height: 1.5;
  padding: 0 0.5em 1em;
}

.features > li {
  margin-left: 0.9em;
}

.features > li:before {
  content: "•";
  padding-right: 0.5em;
  margin-left: -0.9em; /* Hack to prevent wrapping of text under bullet points */
}

.actions {
  border-left: 0.1em solid var(--divider);
  display: block;
  list-style: none;
}

.actions > li {
  padding: 0.5em 1em;
}

.actions a {
  display: inline-flex;
  align-items: flex-end;
}

.actions-img {
  width: 1.5em;
  height: 1.5em;
  padding-right: 0.5em;
  filter: var(--img-invert);
  opacity: var(--img-alpha-main);
  user-select: none;
}

.actions a:hover > .actions-img {
  filter: var(--img-accent-sec);
  transition: filter var(--duration) ease-in;
}

/*** Navigation bar ***/
nav {
  font-size: large;
  position: sticky;
  align-self: start;
  top: 2em;
  border-left: 0.1em solid var(--divider);
}

.nav-list {
  list-style: none;
}

.nav-list > li {
  padding: 0.25em 0 0.25em 1em;
}

.nav-list a:link,
.nav-list a:visited {
  color: var(--text-hint);
}

.nav-list a:hover,
.nav-list a:active {
  color: var(--accent-main);
}

.nav-list li.active > a:link,
.nav-list li.active > a:visited {
  color: var(--text-main);
}

.nav-list li.active > a:hover,
.nav-list li.active > a:active {
  color: var(--accent-main);
}

/*** Footer ***/
footer {
  background: var(--bg-bar);
  color: var(--text-sec);
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  width: 100%;
  max-width: var(--width);
  margin: 0 auto;
}

.footer-left {
  text-align: left;
  font-size: small;
  padding: 0.5em 0 0.5em 1em;
}

.footer-right {
  text-align: right;
  padding: 0.5em 1em 0.5em 0;
}

/*** Responsive design as overwrites ***/
@media (min-width: 1008px) {
  /* Three column layout for desktop */
  main {
    display: grid;
    grid-template-columns: 15em 1fr 10em;
  }
}

@media (max-width: 1007px) and (min-width: 641px) {
  /* (Pseudo) two column layout for tablets */
  main {
    display: grid;
    grid-template-columns: 15em 1fr 0;
  }

  /* More space for the content */
  .content {
    padding: 1.5em;
  }

  .content-inner {
    padding: 1.25em;
  }

  /* Hide the navigation bar */
  nav {
    display: none;
  }
}

@media (max-width: 640px) {
  /* Prevent empty space from scrollbar */
  html {
    overflow-x: hidden;
  }

  /* Row layout for mobile */
  aside {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 1em;
    align-items: center;
  }

  /* More space for the content */
  .content,
  .content-inner {
    padding: 1em;
  }

  /* Hide the navigation bar */
  nav {
    display: none;
  }
}
